<header class="bg-gradient-to-r from-[#0A1E5E] to-[#A50044]">
  <!-- <header class="bg-black border-b border-gray-700"> -->
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <nav class="flex items-center justify-between h-16 lg:h-20">
      <div class="flex-shrink-0">
        <a routerLink='/' title="" class="flex">
          <img class="w-auto h-10 lg:h-15" src="assets/logo/logo-fcbfans.webp" alt="">
        </a>
      </div>

      <button (click)="toggleMenu()" type="button"
        class="inline-flex p-2 text-white transition-all duration-200 rounded-md md:hidden focus:bg-gray-800 hover:bg-gray-800">
        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
      </button>

      <div class="hidden md:flex md:items-center md:space-x-10">
        <a routerLink='/' title="home"
          class="text-sm font-medium text-white transition-all duration-200 lg:text-base hover:text-opacity-70 focus:text-opacity-70">
          Inicio </a>

        <a routerLink='/penas-blaugrana' title="penas-blaugrana"
          class="text-sm font-medium text-white transition-all duration-200 lg:text-base hover:text-opacity-70 focus:text-opacity-70">
          Peñas Blaugrana </a>

        <a routerLink='/mapa' title="mapa"
          class="text-sm font-medium text-white transition-all duration-200 lg:text-base hover:text-opacity-70 focus:text-opacity-70">
          Mapa </a>

        <a routerLink='/calendario' title=""
          class="text-sm font-medium text-white transition-all duration-200 lg:text-base hover:text-opacity-70 focus:text-opacity-70">
          Calendario </a>

        <a routerLink='/graficos' title=""
          class="text-sm font-medium text-white transition-all duration-200 lg:text-base hover:text-opacity-70 focus:text-opacity-70">
          Gráficos </a>
      </div>
    </nav>

    <nav [ngClass]="{'hidden': !isMenuOpen}" class="min-h-screen px-4 py-10 text-center bg-black md:hidden">
      <button (click)="toggleMenu()" type="button"
        class="inline-flex p-2 text-white transition-all duration-200 rounded-md focus:bg-gray-800 hover:bg-gray-800">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>

      <nav class="flex flex-col items-center mt-10 space-y-2">
        <a routerLink='/' title=""
          class="py-2 font-medium text-white transition-all duration-200 focus:text-opacity-70">
          Inicio </a>

        <a routerLink='/mapa' title=""
          class="py-2 font-medium text-white transition-all duration-200 focus:text-opacity-70">
          Mapa </a>

        <a routerLink='/calendario' title=""
          class="py-2 font-medium text-white transition-all duration-200 focus:text-opacity-70">
          Calendario </a>

        <a routerLink='/graficos' title=""
          class="py-2 font-medium text-white transition-all duration-200 focus:text-opacity-70">
          Gráficos </a>
      </nav>
    </nav>
  </div>
</header>