<div class="modal" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2 class="text-2xl font-bold mb-4">{{ selectedEvent()?.title }}</h2>
    <p class="text-base mb-2"><span class="font-bold">📅 Fecha:</span> {{ selectedEvent()?.date }}</p>
    <p class="text-base mb-2"><span class="font-bold">🕒 Hora:</span> {{ selectedEvent()?.time }}</p>
    <p class="text-base mb-2"><span class="font-bold">📍 Localización:</span> {{ selectedEvent()?.location }}</p>

    <button class="close-btn" (click)="closeModal()">Cerrar</button>
  </div>
</div>