<div class="modal" (click)="closeModal()">
  <div class="modal-content relative" (click)="$event.stopPropagation()">

    <button class="absolute top-4 right-4 text-gray-500 text-2xl cursor-pointer
 hover:text-black" (click)="closeModal()">✖</button>

    @if(!isEditing){
    <div>
      <h2 class="text-2xl font-bold mb-4">{{ selectedEvent()?.title }}</h2>
      <p class="text-base mb-2"><span class="font-bold">📅 Fecha:</span> {{ selectedEvent()?.date }}</p>
      <p class="text-base mb-2"><span class="font-bold">🕒 Hora:</span> {{ selectedEvent()?.time }}</p>
      <p class="text-base mb-2"><span class="font-bold">📍 Localización:</span> {{ selectedEvent()?.location }}</p>
    </div>
    <div class="flex justify-center gap-x-6">
      <button
        class="text-white bg-green-700 hover:bg-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center cursor-pointer mt-5"
        (click)="toggleEdit()">Editar
        evento</button>
      <button
        class="text-white bg-red-700 hover:bg-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center cursor-pointer mt-5"
        (click)="deleteEventFanClub()">Eliminar
        evento</button>
    </div>
    } @else {
    <div>
      <form class="space-y-6 text-start" [formGroup]="updateEventForm" (ngSubmit)="updateEventFanClub()">
        <h5 class="text-xl text-center font-medium text-gray-900">Editar Evento</h5>
        <div>
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Nombre del evento</label>
          <input type="text" formControlName="name" id="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Nombre del evento">
          @if (updateEventForm.get('name')?.invalid && updateEventForm.get('name')?.touched) {
          <p class="text-red-500 text-sm">El nombre del evento debe tener mínimo 3 letras.</p>
          }
        </div>
        <div>
          <label for="eventDate" class="block mb-2 text-sm font-medium text-gray-900">Fecha del evento</label>
          <input type="date" formControlName="date" id="eventDate"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
          @if (updateEventForm.get('date')?.invalid && updateEventForm.get('date')?.touched) {
          <p class="text-red-500 text-sm">La fecha del evento es obligatoria.</p>
          }
        </div>

        <div>
          <label for="time" class="block mb-2 text-sm font-medium text-gray-900">Hora de inicio del evento</label>
          <input type="time" formControlName="time" id="time"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
          @if (updateEventForm.get('time')?.invalid && updateEventForm.get('time')?.touched) {
          <p class="text-red-500 text-sm">La hora del evento es obligatoria.</p>
          }
        </div>

        <div>
          <label for="location" class="block mb-2 text-sm font-medium text-gray-900">Ubicación del evento</label>
          <input type="text" formControlName="location" id="location"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Ubicación del evento">
          @if (updateEventForm.get('location')?.invalid && updateEventForm.get('location')?.touched) {
          <p class="text-red-500 text-sm">La ubicación del evento es obligatoria.</p>
          }
        </div>

        <div class="flex justify-center gap-x-6 mt-4">
          <button type="submit"
            class="text-white bg-green-700 hover:bg-green-800 font-medium rounded-lg text-sm px-5 py-2.5 cursor-pointer">Guardar
            cambios</button>
          <button type="button"
            class="text-white bg-gray-700 hover:bg-gray-800 font-medium rounded-lg text-sm px-5 py-2.5 cursor-pointer"
            (click)="closeModal()">Cancelar</button>
        </div>
      </form>
    </div>
    }

  </div>
</div>