@if (loading) {
<div class="fixed inset-0 flex items-center justify-center -z-10">
  <app-loader></app-loader>
</div>
} @else {
<div
  class="w-full max-w-sm sm:max-w-lg xl:max-w-xl 2xl:max-w-2xl p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-6 lg:p-15 my-10 m-auto">
  <form class="space-y-6" [formGroup]="addClubForm" (ngSubmit)="addFcbClub()">
    <h5 class="text-xl text-center font-medium text-gray-900">{{ operation }} Peña Blaugrana</h5>
    <div>
      <label for="clubName" class="block mb-2 text-sm font-medium text-gray-900">Nombre de la peña</label>
      <input type="text" formControlName="name" id="clubName"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Nombre">
      @if(addClubForm.get('clubName')?.invalid && addClubForm.get('clubName')?.touched){
      <p class="text-red-500 text-sm">
        Indica el nombre de la peña.
      </p>
      }
    </div>
    <div>
      <label for="location" class="block mb-2 text-sm font-medium text-gray-900">Ubicación</label>
      <input type="text" formControlName="location" id="location"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Ubicación">
      @if(addClubForm.get('location')?.invalid && addClubForm.get('location')?.touched){
      <p class="text-red-500 text-sm">
        Indica la ubicación.
      </p>
      }
    </div>
    <div>
      <label for="foundedYear" class="block mb-2 text-sm font-medium text-gray-900">Año de fundación</label>
      <input type="number" formControlName="foundedYear" id="foundedYear"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Año">
      @if(addClubForm.get('foundedYear')?.invalid && addClubForm.get('foundedYear')?.touched){
      <p class="text-red-500 text-sm">
        Ingresa un año válido entre 1800 y {{ currentYear }}.
      </p>
      }
    </div>
    <div>
      <label for="membersCount" class="block mb-2 text-sm font-medium text-gray-900">Número de miembros de la
        peña</label>
      <input type="number" formControlName="membersCount" id="membersCount"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Número">
      @if(addClubForm.get('membersCount')?.invalid && addClubForm.get('membersCount')?.touched){
      <p class="text-red-500 text-sm">
        Indica el número de peñistas.
      </p>
      }
    </div>
    <div>
      <label for="latitude" class="block mb-2 text-sm font-medium text-gray-900">Latitud (opcional)</label>
      <input type="text" formControlName="latitude" id="latitude"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Latitud">
    </div>
    <div>
      <label for="longitude" class="block mb-2 text-sm font-medium text-gray-900">Longitud (opcional)</label>
      <input type="text" formControlName="longitude" id="longitude"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Longitud">
    </div>

    <div formGroupName="eventClub">
      <div>
        <label for="eventName" class="block mb-2 text-sm font-medium text-gray-900">Añadir evento (opcional)</label>
        <input type="text" formControlName="name" id="eventName"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Nombre del evento">
      </div>

      @if(addClubForm.get('eventClub.name')?.value) {
      <div>
        <label for="eventDate" class="block mb-2 text-sm font-medium text-gray-900">Fecha del evento</label>
        <input type="date" formControlName="date" id="eventDate"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        @if (addClubForm.get('eventClub.date')?.invalid && addClubForm.get('eventClub.date')?.touched) {
        <p class="text-red-500 text-sm">La fecha del evento es obligatoria.</p>
        }
      </div>

      <div>
        <label for="eventTime" class="block mb-2 text-sm font-medium text-gray-900">Hora de inicio del evento</label>
        <input type="time" formControlName="time" id="eventTime"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
        @if (addClubForm.get('eventClub.time')?.invalid && addClubForm.get('eventClub.time')?.touched) {
        <p class="text-red-500 text-sm">La hora del evento es obligatoria.</p>
        }
      </div>

      <div>
        <label for="eventLocation" class="block mb-2 text-sm font-medium text-gray-900">Ubicación del evento</label>
        <input type="text" formControlName="location" id="eventLocation"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Ubicación del evento">
        @if (addClubForm.get('eventClub.location')?.invalid && addClubForm.get('eventClub.location')?.touched) {
        <p class="text-red-500 text-sm">La ubicación del evento es obligatoria.</p>
        }
      </div>
      }
    </div>


    @if (errorMessage) {
    <p class="text-red-500 text-sm text-center">{{ errorMessage }}</p>
    }
    <div class="justify-center flex gap-4">
      <button type="submit" [disabled]="addClubForm.invalid"
        [ngClass]="{'opacity-50 cursor-not-allowed': addClubForm.invalid, 'cursor-pointer': !addClubForm.invalid}"
        class="text-white bg-green-700 hover:bg-green-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center cursor-pointer">{{operation}}</button>
      <button (click)="goBack()" type="button"
        class="text-white bg-gray-700 hover:bg-gray-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center cursor-pointer">Volver</button>
    </div>
  </form>
</div>
}